Makefile
Makefile.in
ChangeLog
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
gtk-doc.make
install-sh
libtool
ltmain.sh
m4
missing
stamp-h1
test
*.make
*.mo
mkinstalldirs
intltool-extract.in
intltool-merge.in
intltool-update.in
*.patch
core
core.*
*~
*.a
*.o
*.la
*.lo
*.exe
*.omf
.libs
.deps
*.stamp
*-marshal.[ch]
*.pc

# ----------------------------------------------------------------------------------------------------

myconf.sh

gnome-disk-utility*.tar.bz2

po/.intltool-merge-cache
po/Makefile.in.in
po/POTFILES
po/stamp-it
po/gnome-disk-utility.pot
po/*.gmo

data/gdu-notification-daemon.desktop
data/gdu-notification-daemon.desktop.in
data/gdu-notification-daemon.desktop.in.in
data/palimpsest.desktop

doc/gnome-disk-utility-decl-list.txt
doc/gnome-disk-utility-decl-list.txt.bak
doc/gnome-disk-utility-decl.txt
doc/gnome-disk-utility-decl.txt.bak
doc/gnome-disk-utility-overrides.txt
doc/gnome-disk-utility-sections.txt
doc/gnome-disk-utility-undeclared.txt
doc/gnome-disk-utility-undocumented.txt
doc/gnome-disk-utility-unused.txt
doc/gnome-disk-utility.args
doc/gnome-disk-utility.hierarchy
doc/gnome-disk-utility.interfaces
doc/gnome-disk-utility.prerequisites
doc/gnome-disk-utility.signals
doc/html/
doc/tmpl/
doc/version.xml
doc/xml

help/*/palimpsest.xml

src/gdu/*-glue.h
src/gdu-gtk/gdu-gtk-enumtypes.c

src/format-tool/gdu-format-tool
src/notification/gdu-notification-daemon
src/palimpsest/palimpsest
