.grey {
    --main-color: #808080;
}

.blue {
    --main-color: var(--blue-5);
}

.green {
    --main-color: var(--green-5);
}

.yellow {
    --main-color: var(--yellow-5);
}

.orange {
    --main-color: var(--orange-5);
}

.red {
    --main-color: var(--red-5);
}

.purple {
    --main-color: var(--purple-5);
}

.brown {
    --main-color: var(--brown-5);
}
